[submodule "frontend"]
	path = frontend
	url = https://git.cardiff.ac.uk/c21052928/energy-data-centre-visualisation-ui.git
[submodule "backend"]
	path = backend
	url = https://git.cardiff.ac.uk/c21052928/energy-data-centre-visualisation-api.git
